<form method="post">
    {% csrf_token %}
    {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
    {% endif %}
    <label for="patient_name">Name:</label>
    <input type="text" id="patient_name" name="patient_name" required>
    
    <label for="doctor">Choose Doctor:</label>
    <select id="doctor" name="doctor" required>
        {% for doctor in doctors %}
            <option value="{{ doctor.id }}">{{ doctor.name }}</option>
        {% endfor %}
    </select>
    
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>
    
    <label for="time">Time:</label>
    <input type="time" id="time" name="time" required>
    
    <button type="submit">Book Appointment</button>
</form>

{% for doctor in doctors %}
<option value="{{ doctor.id }}"> Dr Mark </option>
<option value="{{ doctor.id }}"> Dr Mercy </option>
<option value="{{ doctor.id }}"> Dr Brian </option>
<option value="{{ doctor.id }}"> Dr Lucy</option>
<option value="{{ doctor.id }}"> Dr Vio</option>
<option value="{{ doctor.id }}"> Dr Leo</option>

{% endfor %}


