<section class="service" id="service">
    <div class="serviceContainer">
        <div class="serviceHeader">
            <h1>Our Service & Health Corner</h1>
        </div>
        <div class="serviceProduct">
            {% for service in services %}
                <div class="serviceProductImg">
                    <img src="{{ service.image.url }}" alt="{{ service.name }}">
                    <h3>{{ service.name }}</h3>
                    <p>{{ service.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
